.pretty-line {


    &--background {
        position: absolute;
        left: 0;
        transform: translateX(calc(-90% + 50px));

        @include forTablet() {
            transform: translateX(calc(-100% + 50px));
        }

        &--right {
            left: 100%;
            transform: translateX(calc(5% - 50px));

            @include forTablet() {
                transform: translateX(calc(5% - 50px));
            }
    
        }
    }
}