.tablet-wrapper {
    position: relative;
    width: 100vw;

    @include forTablet {
        width: 60vw;
    }
}

.tablet {
    position: relative;

    &__content {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 1em;

        @include forTablet {
            position: absolute;
            left: 12%;
            width: 80%;
            height: 90%;
            top: 3%;
        }

        &__app {
            display: flex;
            flex-direction: column;
            align-items: center;

            &__button {
                height: 75px;
                width: 75px;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);

                @include forDesktop {
                    height: 150px;
                    width: 150px;
                }

                &:focus,
                &:hover {
                    filter: brightness(1.05);
                }

                &:active {
                    filter: brightness(.8);
                }

                & > * {
                    max-width: 90%;
                }
            }

            &__name {
                margin: .25em 0;
                font-size: 1.5em;

                @include forDesktop {
                    font-size: 2.5em;
                }
            }
        }
    }

}