.info {
    &-container {
        width: 90%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__hero {
        margin-top: .5em;
        font-size: 1.15em;
        padding: 1em 0;
        width: 105%;

        @include forTablet {
            font-size: 1.5em;
        }

        @include forDesktop {
            width: 105%;
            font-size: 2em;
            padding: 2em 0;
        }

        &__subheader {
            font-weight: 700;
        }
    }

    &__row {
        min-height: 200px;
        width: 105%;
        padding: 1em 2.5%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__frame {
        width: 100%;
        height: 100%;
        border: 5px $color-primary solid;
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none
    }
}