.button {
    font-size: 1.5em;
    background-color: $color-secondary;
    font-weight: 900;
    padding: .25em .75em;
    transition: transform .1s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
        color: white;
        background-color: $color-tertiary;
    }

    &:active {
        transform: scale(1.05);
    }
}