$color-black: #000;
$color-white: #fff;
$color-yellow: #ffd734;
$color-purple: #3b11a3;

$color-background--light: $color-white;
$color-primary--light: $color-black;
$color-secondary--light: $color-yellow;
$color-tertiary--light: $color-purple;

$color-background--dark: $color-black;
$color-primary--dark: $color-white;
$color-secondary--dark: $color-yellow;
$color-tertiary--dark: $color-purple;

$color-background: $color-background--light;
$color-primary: $color-primary--light;
$color-secondary: $color-secondary--light;
$color-tertiary: $color-tertiary--light;

:export {
  background: $color-background--dark;
  primary: $color-primary--dark;
  secondary: $color-secondary--dark;
  tertiary: $color-tertiary--dark;

  background--light: $color-white;
  primary--light: $color-black;
  secondary--light: $color-purple;
  tertiary--light: $color-yellow;

  background--dark: $color-white;
  primary--dark: $color-black;
  secondary--dark: $color-yellow;
  tertiary--dark: $color-purple;
}
