@import "./breakpoints";

@mixin forSmallDesktop {
    @media (min-width: $mq--desktop--small) { 
        @content; 
    }
}

@mixin forDesktop {
    @media (min-width: $mq--desktop) { 
        @content; 
    }
}

@mixin forTablet {
    @media (min-width: $mq--tablet) { 
        @content; 
    }
}

@mixin dot {
    content: '';
    display: inline-block;
    height: .2em;
    width: .2em;
    margin-left: .1em;
    border: .025em solid $color-primary;
}