@import "./settings.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-family;
  font-size: $font-size-default;
  background-color: $color-background;
  color: $color-primary;
}

h1, h2, h3 {
  text-transform: uppercase;
  font-family: $font-family-header;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  outline: none;
  border: 0;
  background: none;
}

ul {
  list-style-type: none;
}
