.text {
    font-size: 13px;
    font-family: $font-family-header;

    @include forDesktop {
        font-size: 25px;
    }

    &--print {
        color: $color-tertiary;
    }

    &--bracket {
        color: $color-background
    }
}